*{
	background-color: #669999;
}
header{
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif; 
  font-size: 25px;
  text-shadow: 4px 4px 5px white;

}
.contact-info{
    font-family: "Times-New-Roman";
    font-style: italic;
    font-size: 18px;
    font-weight: normal;
  ;
}

address{
  color: blue;
  font-size: 12px;
}
.education{
     text-indent: px;
 
}